<section>
        <div class="container-fluid first-section mt-5">
            <div class="about-layer">
                <div class="layer-content container">
                    <h1>
                        When you’re here,<br> you’re home
                    </h1>
                    <p>(And so is all your entertainment.)</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row about-sec-section">
                <div class="col-md-4">  
                    <div class="sec-section-content">
                        <h1> We’re fans at heart. </h1>
                        <p>All games are available for you to <br> enjoy with us.</p>
                    </div>
                </div>
                <div class="col-md-8">  
                     <div class="sec-section-img">
                        <img src="/assets/images/102.03cc6e6667604852abd5.jpg" alt="" class="w-100">
                     </div>
                </div>
            </div>
            <div class="footer-about p-4">
                <hr class="bg-secondary">
                <div class="row pt-4">
                    <div class="col-md-5">
                       <div class="footer-content">
                        <h3>Game Over</h3>
                        <p>We’re on a mission to create a global community where <br> everyone can discover,
                             experience,best games ever</p>
                       </div>
                    </div>
                    <div class="col-md-7">
                        <div class="left-footer-content">
                         <h3>Discover more great games
                        </h3>
                        <input type="text" placeholder="game Name">
                        </div>
                    </div>
                </div>
                <div class="copyRight text-center">
                    <p>Copyright Â© 2022 Game Over. All Rights Reserved.</p>
                     <i class="fa-brands fa-facebook"></i>
                     <i class="fa-brands fa-twitter"></i>
                     <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
</section>