<section>
  <div class="container-fluid p-5">
    <div class="row justify-content-center">
       <div class="col-md-6 mt-5">
        <h2 class="text-center text-white my-3">Login Form </h2>
        <form [formGroup]="LoginForm" (ngSubmit)="LoginFormSubmit()" class="mt-5">
          <div class="mb-3">
            <label for="Email" class="form-label"> Email</label>
            <input type="Email" class="form-control" id="Email" formControlName="email">
            <div *ngIf="LoginForm.controls['email'].invalid && LoginForm.controls['email'].touched" class="text-danger  py-2 my-2" >
              <p  *ngIf="LoginForm.controls['email'].errors?.['required']"> email name is required </p>
              <p  *ngIf="LoginForm.controls['email'].errors?.['email']"> email not valid </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" formControlName="password">
            <div *ngIf="LoginForm.controls['password'].invalid && LoginForm.controls['password'].touched" class="text-danger py-2 my-2" >
              <p *ngIf="LoginForm.controls['password'].errors?.['required']"> password is required</p>
              <p *ngIf="LoginForm.controls['password'].errors?.['pattern']"> password should start with char and include 3 numb</p>
            </div>
          </div>
          <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-primary">
           <span *ngIf="submitShow"> Submit </span>
           <i class="fa-solid fa-spinner fa-spin-pulse" *ngIf="loading"></i>
          </button>
        </form>
       </div>
    </div>
</div>
</section>
